.drag-icon-container {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.poll-choices {
  margin-bottom: 8px;
  &:hover {
    cursor: grab;
  }
}
.poll-title {
  color: black;
}
.choice-title {
  color: black;
  font-weight: 500;

}
.choice-description {
  color: grey;


}
.choice-entry {
  background-color: inherit;
  border: none;
  cursor: inherit;
  &:focus {
    outline: none;
  }
}

